node_modules/
npm-debug.log
logs/
.idea/*
!.idea/runConfigurations
build/
facebook-messages-filter-win32-x64/
package-lock.json
ElectronBoilerplate*/
Electron-Base-Application.iml
untitled/
FBMFilter.iml
